@model APIResponse

<h1 class="text-danger">Errors Accoured!</h1>
<br />

<ul class="list-group">
@foreach (var item in Model.ErrorMessages)
{

  <li class="list-group-item">@item</li>

}
</ul>

<br />
<a asp-action="BookIndex" class="btn btn-info">Back</a>